@model StoneClinic.Models.DB.Doctor

@{
    ViewData["Title"] = "Add Doctor";
}


<h4>Add Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <select asp-for="Sex" class="form-control">
                    <option value="">Select</option>
                    <option value="M">M</option>
                    <option value="F">F</option>
                    <option value="Others">Others</option>
                </select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialization" class="control-label"></label>
                <select asp-for="Specialization" class="form-control">
                    <option value="">Select</option>
                    <option value="General">General</option>
                    <option value="Internal Medicine">Internal Medicine</option>
                    <option value="Pediatrics">Pediatrics</option>
                    <option value="Orthopedics">Orthopedics</option>
                    <option value="Ophthalmology">Ophthalmology</option>
                </select>
                <span asp-validation-for="Specialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitingHours" class="control-label"></label>
                <select asp-for="VisitingHours" class="form-control">
                    <option value="">Select</option>
                    <option value="9:00AM-11:00AM">9:00 AM-11:00 AM</option>
                    <option value="11:00AM-1:00PM">11:00 AM-1:00 PM</option>
                    <option value="1:00PM-3:00PM">1:00 PM-3:00 PM</option>
                </select>
                <span asp-validation-for="VisitingHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Doctor" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
